.App {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 250px;
  border: 1px solid gainsboro;
  margin: 20px 20px 20px 20px;

}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.divs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  margin-top: 30px;
}

.App-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  width: 280px;
  margin-top: 20px;
  
}
.b1{
  background-color: cornflowerblue;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
}
#input
{
  height: 30px;
  width: 220px;
  border-radius: 5px 5px 5px 5px;
  border:1px solid lightgrey;
  justify-content: center;
  align-items: center;
}
.list {
  margin-top: 20px;
  height: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 300px;
}
.container {
  height: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  margin-top: 7px;
  margin-bottom: 3px; 
  
}
#arrow{
  font-size: 20px;
  border: blanchedalmond;
  width: 20px;
}
.item {
  height: 40px;
  width: 250px;
  display: flex;
  align-items: center;
}

.pointerClass{
  cursor: pointer;
}

.heading{
  margin-top: 30px;
  display: flex;
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}